In [86]:
print("Hi 0807")

Hi 0807

In [87]:
變數一 = 1

In [88]:
變數一

1

In [89]:
變數二 = 變數一

In [90]:
變數一, 變數二

(1, 1)

In [91]:
a = b = c = 20

In [92]:
a, b, c

(20, 20, 20)

In [93]:
age, name = 18, "An-Chi"

In [94]:
age, name

(18, 'An-Chi')

In [95]:
A = B = C = 50

In [96]:
A, B, C, a, b, c

(50, 50, 50, 20, 20, 20)

In [97]:
早餐 = 100

In [98]:
午餐 = 200

In [99]:
餐費 = 早餐 + 午餐

In [100]:
print(餐費)

300

In [101]:
三天餐費 = 餐費*3

In [102]:
print(三天餐費)

900

In [103]:
早餐 = 50

In [104]:
餐費 = 早餐 + 午餐

In [105]:
print(餐費)

250

In [106]:
d = 2
#e = 3
f = 4

In [107]:
d

2

In [108]:
e

NameError: name 'e' is not defined

In [ ]:
f

4

In [ ]:
週三氣溫 = 33

In [ ]:
週四氣溫 = 32

In [ ]:
週五氣溫 = 33

In [ ]:
週六氣溫 = 33

In [ ]:
四天溫度平均 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [ ]:
print(四天溫度平均)

32.75

In [ ]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫 = 40, 35, 36, 37

In [ ]:
四天溫度平均 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [ ]:
print(四天溫度平均)

37.0

In [ ]:
print(((週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4))

37.0

In [ ]:
日花費 = 300

In [ ]:
周花費 = 日花費*7

In [ ]:
月花費 = 周花費*4

In [ ]:
print(月花費)

8400