In [1]:
print("0820")

0820

In [2]:
a=range(5)

In [3]:
print(list(a))

[0, 1, 2, 3, 4]

In [4]:
b=range(1,6)

In [5]:
print(list(b))

[1, 2, 3, 4, 5]

In [6]:
c=range(1,10,2)

In [7]:
print(list(c))

[1, 3, 5, 7, 9]

In [8]:
d=range(10,1,-2)

In [9]:
print(list(d))

[10, 8, 6, 4, 2]

In [21]:
list1=[1,2,3,4,5]

In [22]:
print(list1)

[1, 2, 3, 4, 5]

In [12]:
list2=["香蕉","蘋果","橘子"]

In [13]:
print(list2)

['香蕉', '蘋果', '橘子']

In [14]:
list3=[1,"香蕉",True]

In [16]:
print(list3)

[1, '香蕉', True]

In [17]:
print(list[0])

1

In [18]:
print(list2[2])

橘子

In [23]:
print(list1[5])

IndexError: list index out of range

In [24]:
print(list1[4])

5

In [26]:
print(list2[1])

蘋果

In [27]:
print(list2[2])

橘子

In [28]:
print(list1[-1])

5

In [30]:
print(list1[-3])

3

In [33]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [34]:
print(list5[1])

['mary', 'abcd']

In [35]:
print(list5[0])

[['tom', '1234']]

In [36]:
print(list5[1][1])

abcd

In [37]:
print(list5[0][0])

['tom', '1234']

In [38]:
print(list5[1][0])

mary

In [39]:
a=85
b=79
c=93
print("國文成績:",a)
print("數學成績:",b)
print("英文成績:",c)

國文成績: 85
數學成績: 79
英文成績: 93

In [40]:
a,b,c=map(int,input().split())
print("國文成績:",a)
print("數學成績:",b)
print("英文成績:",c)

國文成績: 85
數學成績: 79
英文成績: 93

In [41]:
list6=["香蕉","蘋果","橘子"]
for s in list6:
    print(s, end=",")

香蕉,蘋果,橘子,

In [42]:
list7=[123,"apple",True]
for n in list7:
    print(n,end="\n")

123
apple
True

In [43]:
scores=[85,79,93]
print(len(scores))

3

In [60]:
scores=[85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [57]:
scores=["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
    print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [56]:
scores=["編號:1 姓名: Tom","編號:2 姓名: Mary","編號:3 姓名: Tony"]
for n in range(len(scores)):
    print(scores[n])

編號:1 姓名: Tom
編號:2 姓名: Mary
編號:3 姓名: Tony

In [23]:
input_str = input()
words = input_str.split()
reversed_words = words[::-1]
print(" ".join(reversed_words))

cake banana apple

In [70]:
a,b,c=map(int,input().split())
for i in range(a,b,c):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [3]:
a,b,c=map(int,input().split())
n=range(a,b,c)
print(list(n))

[3, 4, 5, 6, 7]

In [25]:
# 读取输入的字符串，并将其拆分成三个整型参数
start, stop, step = map(int, input().split())

# 使用range函数生成数列
sequence = [str(num) for num in range(start, stop, step)]

# 将数列中的数值通过逗号拼接为一个字符串，并输出
print(",".join(sequence))

15,16,17,18